
    <div [class]= "this.router.url ==='/listado'? 'card border-secondary mb-3 ' : 'card border-secondary col-md-12 '" >
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title">{{pelicula.titulo}}</h4>
            <label class="btn btn-success" *ngIf= " this.router.url ==='/listado'">
                <input type="checkbox" autocomplete="off" >
                <span class="glyphicon glyphicon-ok"></span>
            </label>
        </div>
       
            <div class="card-body"> <div class="row" >
            <div [class]= "this.router.url ==='/listado'? 'col-md-12 ' : 'col-md-4'">
                
            <img [src]= "pelicula.url" 
                 class="card-img-top"  
                 [routerLink]= "this.router.url =='/listado'? ['/busqueda',this.titulo] : ['/busqueda',this.titulo]"
                [style]= "this.router.url ==='/listado'?'width: 200px;height: 200px;':'width: 400px;height: 400px;margin-left:100px' ">
            </div>
            <div [class]= "this.router.url ==='/listado'? ' col-md-12' : 'col-md-8'">
            <ul style="padding-top: 10px;">
                <li><p *ngIf= "this.router.url !=='/listado'">{{this.pelicula.descripcion}}</p></li>
                    <li> <h6 class="text-center ">Raking: #{{pelicula.ranking}}</h6> </li>
                    <li> <h6 class="text-center">Año: {{pelicula.anio}}</h6></li>
                    <li> <h6 class="text-center">Ibdm: {{pelicula.ibdm}}</h6></li>
                    <li> <h6 class="text-center">Votos: {{pelicula.votos}}</h6></li>
            </ul>
            
            </div>
            </div>
        </div>
        <div class="card-footer  d-flex justify-content-between align-items-center">
            <button [disabled]= "isVoto!=0" 
                    *ngIf= "isVoto!=-1 && this.router.url ==='/listado'" 
                    class="btn btn-success" 
                    (click)= "voteUp()">Like</button>

                
            <button [disabled]= "isVoto!=0" 
                    class="btn btn-danger " 
                    *ngIf= "isVoto!=1 && this.router.url ==='/listado'"
                    (click)= "voteDown()">Not like</button>
        </div>
    </div>

